<%= simple_form_for @seller, :html => { :class => 'form-horizontal seller_validate' } do |f| %>
  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :cnpj %>
  <%= f.input :email %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sellers_path, :class => 'btn' %>
  </div>
<% end %>
