<%= simple_form_for @import, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :supplier, collection: Supplier.all %>

  <%= f.file_field :file %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), suppliers_path, :class => 'btn' %>
  </div>
<% end %>
