<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">NG Decor</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to  t("menu.products")  %></li>
          <li><%= link_to "Price List" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
      </div>
      <div id="nav">
        <%= link_to_unless_current "English", locale: "en" %>
        <%= link_to_unless_current "Português", locale: "pt" %>
      </div>
    </div>
  </div>
</div>
